@import "./variables";

@mixin mediaQuery($size) {
    @media (min-width: map-get($mediaBreakpoints, $size)) {
        @content;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: $font-family;
}

.App {
    background-color: $veryLightGrayishBlue;
    min-height: 100vh;
    position: relative;
    padding: 3rem 1.5rem;
    z-index: 1;
    overflow-x: hidden;

    &::before {
        content: url("/src/images/bg-top.svg");
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -5%);
        z-index: -1;
    }

    @include mediaQuery(desktop) {
        &::before {
            transform: translate(0, 0);
        }

        &::after {
            content: url("/src/images/bg-bottom.svg");
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}

.header {
    text-align: center;

    &__title {
        color: $grayishBlue;
    }

    &__text {
        color: $lightGrayishBlue;
        font-size: $font-normal;
    }
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    &__btn {
        width: 3.75rem;
        height: 1.875rem;
        background: linear-gradient(to right, $gradient);
        border-radius: 2rem;
        margin: 0 1rem;
        position: relative;
        cursor: pointer;

        &:hover {
            opacity: .5;
        }
    }

    &__indicator {
        background-color: white;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translateY(-50%);
        transition: .1s ease;

        &.annual {
            left: 6%;
        }
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    grid-gap: 2rem;
    padding: 3rem 0;
    width: Min(62.5rem, 100%);
    margin: 0 auto;
    align-items: center;

    @include mediaQuery(desktop) {
        grid-gap: 0;
    }
}

.plan {
    background-color: $white;
    padding: 1.5rem;
    text-align: center;
    border-radius: .5rem;
    $self: &;

    &__name {
        color: $grayishBlue;
        font-size: 1.1rem;
    }

    &__pricing {
        margin: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $darkGrayishBlue;
    }

    &__cost {
        font-size: 4rem;
    }

    &__currency {
        font-size: 2.3rem;
    }

    &__feature {
        font-size: $font-normal;
        padding: 1rem 0;
        color: $grayishBlue;
        border-bottom: 1px solid $lightGrayishBlue;

        &:first-child {
            border-top: 1px solid $lightGrayishBlue;
        }
    }

    &.active {
        background: linear-gradient($gradient);

        #{ $self }__name, #{ $self }__pricing, #{ $self }__feature {
            color: $white;
        }

        #{ $self }__feature {
            border-bottom: 1px solid hsl(236, 72%, 79%);
            
            &:first-child {
                border-top: 1px solid hsl(236, 72%, 79%);
            }
        }

        .button {
            background: $white;
            color: hsl(237, 63%, 64%);

            &:hover {
                color: $white;
                border: 1px solid $white;
                background: none;
            }
        }

        @include mediaQuery(desktop) {
            height: 108%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.button {
    border: none;
    outline: none;
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
    background: linear-gradient(to right, $gradient);
    border-radius: .5rem;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
        color: hsl(237, 63%, 64%);
        border: 1px solid hsl(237, 63%, 64%);
        background: transparent;
    }
}

.attribution {
    font-family: sans-serif;
    font-size: 11px;
    text-align: center;
    padding: 1rem 0;

    a {
        color: hsl(228, 45%, 44%);
        font-family: sans-serif;
    }
} 